body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.4;
  color: navy;
  margin-top: 0;
}

img {
  width: 100%;
}

.navbar {
  background-image: url('../src/images/Nav.jpg');
  background-size: cover;
  position: absolute;
  max-height: 10vh;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.navlist {
  display: block;
  float: right;
}

.navlink {
  font-family: 'Lora', serif;
  color: navy;
  background-color: rgba(255, 255, 255, .8);
  border-radius: .3rem;
  padding: .5rem;
}

.navlink:hover {
  font-weight: bold;
}

.eventbackground {
  background-image: url('../src/images/event.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
}

.eventname {
  color:#b5510e;
  background-color: white;
  padding: .5rem;
  border-radius: .2rem;
  font-size: large;
}

.eventorange {
  position: relative;
  padding: 2.2rem;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background-color: rgba(235, 125, 52, .75);
  border-radius: 1rem;
  max-width: 100vh;
}

.eventlist {
  color: navy;
  line-height: normal;
  font-size: smaller;
  columns: 6rem auto;
}

.loginbackground {
  background-image: url('../src/images/invites.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
}

.recipesbackground {
  background-image: url('../src/images/recipes.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
}

.potluckbackground {
  background-image: url('../src/images/invites.jpg');
  position: relative;
  height: 100%;
  border-top: white, 3rem, solid;
  background-repeat: no-repeat;
  background-size: cover;
}

.potluckorange {
  float: right;
  position: relative;
  padding: 2rem;
  top: 2rem;
  right: 3rem;
  bottom: 2rem;
  left: 1rem;
  background-color: rgba(8, 42, 97, .8);
  border-radius: 1rem;
  max-width: 50rem;
  opacity: 100%;
}

.potluckform {
  color: white;
  line-height: normal;
  font-size: 1.3rem;
}

.potluckformheader {
  color: white;
  text-decoration: underline;
  font-size: larger;
  line-height: normal;
}

.forminput {
  float: right;
  width: 50vh;
}

.container {
  width: 95%;
}

main {
  position: relative;
}

code {
  font-family: 'Playfair Display', serif;
}

footer {
  margin-top: auto;
}

footer a {
  font-size: 2rem;
}

h1 {}

h2 {
  font-family: 'Lora', serif; 
  color: white;
}

h3 {}

.btn {
  border-radius: 0.3rem;
  cursor: pointer;
  /*margin: 0 0 0 1rem;*/
  margin: 0 0 0 1rem;
  /*width: 40%;*/
  background-color: white;
  color: #eb7d34;
  border-color: white;
}

.btn:hover {
  font-weight: bold;
}

.submitbutton {
  cursor: pointer;
  background-color: #eb7d34;
  color: white;
  border-color:  #eb7d34;
  font-size: 1.3rem;
  border-radius: .3rem;
  margin: 0 0 .8rem 1rem;
}

footer {
  margin-top: auto;
}

footer a {
  font-size: 2rem;
}

