body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.4;
  color: navy;
  margin-top: 0;
}

img {
  width: 100%;
}

nav.imageWrapper div.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  max-height: 70vh;
  background-size: cover;
  background-image: url('../public/images/Nav.jpg');
}

.container {
  width: 95%;
}

main {
  position: relative;
}

code {
  font-family: 'Playfair Display', serif;
}

footer {
  margin-top: auto;
}

footer a {
  font-size: 2rem;
}

h1 {}

h2 {}

h3 {}

.btn {
  border-radius: 0.8rem;
  display: block;
  cursor: pointer;
  margin: 0 0 0.5rem 1rem;
  padding: 0.5em 1 em;
  width: 40%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

footer {
  margin-top: auto;
}

footer a {
  font-size: 2rem;
}