body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.4;
  color: navy;
  margin-top: 0;
}

img {
  width: 100%;
}

nav.imageWrapper div.img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  max-height: 70vh;
  background-size: cover;
  background-image: url('../public/images/Nav.jpg');
}

.container {
  width: 95%;
}

main {
  position: relative;
}

code {
  font-family: 'Playfair Display', serif;
}

footer {
  margin-top: auto;
}

footer a {
  font-size: 2rem;
}